body {
  background-color: #f3f3f3; /* Change to your desired background color */
  font-family: 'Roboto', sans-serif; /* Use the Roboto font from Google Fonts */
  color: #b0a2a2; /* Change to your desired font color */
}

h1 {
  font-size: 2em; /* Increase the font size for the heading */
  color: #f84e4e; /* Change to your desired heading font color */
}

h2 {
  font-size: 1.5em; /* Increase the font size for the subheadings */
  color: #555; /* Change to your desired subheading font color */
}

.personaldetailitem {
  font-weight: bold; /* Make personal details bold */
}

.experiencedate {
  font-weight: bold; /* Make experience dates bold */
}

.experienceheader {
  margin-bottom: 10px; /* Add some space between experience items */
}
body {
  background-color: #f3f3f3; /* Change to your desired background color */
  font-family: 'Roboto', sans-serif; /* Use the Roboto font from Google Fonts */
  color: #333; /* Change to your desired font color */
}

h1 {
  font-size: 2em; /* Increase the font size for the heading */
  color: #555; /* Change to your desired heading font color */
}

h2 {
  font-size: 1.5em; /* Increase the font size for the subheadings */
  color: #555; /* Change to your desired subheading font color */
}

.personaldetailitem {
  font-weight: bold; /* Make personal details bold */
}

.experiencedate {
  font-weight: bold; /* Make experience dates bold */
}

.experienceheader {
  margin-bottom: 10px; /* Add some space between experience items */
}
